@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  text-align: center;
  font-family: $PoppinsFonts;
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $text-color;
  
  &:hover {
    color: $extra-color-Peach;
  }
}

button {
  color: $text-color;

  &:hover {
    background-color: $extra-color-Peach;
    color: $extra-color-Peach;
  }
}

label {
  margin-bottom: $spacing-unit / 2;
}

input {
  padding: $spacing-unit / 2;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-top: 0;
  color: $H2;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 0px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    padding: 0 0px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 0px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    padding: 0 0px;
  }
}
