// Colors
$primary-color: #3498db;                              // base color
$secondary-color: #2ecc71;                            // 2 lelvel color
$text-color: #333;                                    // tht-color
$dark-color: #333;
$light-gray-color: #d3d3d3;                           // light gray color

// Fonts
$font-primary: 'Helvetica Neue', Arial, sans-serif;     // основний шрифт
$font-secondary: 'Georgia', serif;                      // шрифт вторинний

// Spacing
$spacing-unit: 20px                                // одиниця інтервалу

