// Fonts
$PoppinsFonts: "Poppins", sans-serif;
$OpenSans: "Open Sans", sans-serif;

// Colors
$primary-color-PureWhite: #FFFFFF;                     // backgroundContent       
$primary-color-LightGray: #F4F4F4;                   // backgroundPanels
$primary-color-SoftGray: #DCDEDF;                    // Soft

$extra-color-LightLemonGreen: #E9FCA1;
$extra-color-Peach: #F7AA77;
$extra-color-LightGreenPastel: #D4F4CC;
$extra-color-LightBluePastel: #C6E6E8;

$background-color: white;
$text-color: #000000;
$border: #888888;                                             

$H1: 64px;
$H2: 48px;                                              // РазмерFonts48px
$H4: 24px;                                             // РазмерFonts24px

// Button
$button-primary-hover: #FECBA9;

// Spacing
$spacing-unit: 12px;

body {
  font-family: $PoppinsFonts;
}