// Colors
$primary-color-PureWhite: #FFFFFF;                 
$primary-color-LightGray: #F4F4F4;                 
$primary-color-SoftGray: #DCDEDF;                  


$text-color: #000000;                                // tht-color                              // dark-color
$light-gray-color: #000000;                          // light gray color
$light-color: #000000;                               // white color                          

// Fonts
$H4: 24px;

// Spacing
$spacing-unit: 12px                                     // одиниця інтервалу
