
@mixin button-base(
  $bg-color,
  $text-color,
  $hover-bg-color,
  $hover-text-color,
  $border: 1px solid black
) {
  @include button-reset;
  border: $border;

  &:hover {
    color: $hover-text-color;
    border-color: map-get($colors, "peach");
  }

  &:disabled {
    background-color: map-get($colors, "light-gray");
    color: map-get($colors, "soft-gray");
    cursor: not-allowed;
  }
}

// Варіації кнопок
.primary-button {
  @include button-base(
      map-get($colors, "peach"),
      map-get($colors, "white"),
      darken(map-get($colors, "peach"), 10%),
      map-get($colors, "white")
  );
}

.secondary-button {
  @include button-base(
      map-get($colors, ""),
      map-get($colors, ""),
      darken(map-get($colors, "peach"), 0%),
      map-get($colors, "")
  );
}

.tertiary-button {
  @include button-base(
      map-get($colors, ""),
      map-get($colors, ""),
      darken(map-get($colors, "peach"), 10%),
      map-get($colors, ""),
      none
  );

  &:hover {
    color: map-get($colors, "peach");
  }
}

.outline-button {
  @include button-base(
      map-get($colors, "white"),
      map-get($colors, "peach"),
      map-get($colors, "light-gray"),
      darken(map-get($colors, "peach"), 0%)
  );
  border: 2px solid map-get($colors, "peach");
  background-color: transparent;
}
