
@mixin button-base(
  $bg-color,
  $text-color,
  $hover-bg-color,
  $hover-text-color,
  $border: 1px solid black
) {
  @include button-reset;
  border: $border;

  &:hover {
    color: $hover-text-color;
    border-color: map-get($colors, "peach");
  }

  &:disabled {
    background-color: map-get($colors, "light-gray");
    color: map-get($colors, "soft-gray");
    cursor: not-allowed;
  }
}

.secondary-button {
  @include button-base(
      map-get($colors, ""),
      map-get($colors, ""),
      darken(map-get($colors, "peach"), 0%),
      map-get($colors, "")
  );
}
